body {
    background-color:#ffffff; /* beyaz */
    font-family: -apple-system, BlinkMacSystemFont;
    color: #000000;
}

.centered {
  display: table;
  padding-top: 10%;
  margin: 0 auto;
  text-align: center;
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

a:before {
    content:'';
    display: block; 
}

.fa {
    padding: 3%;
    color: #011e44;

    text-decoration: none;
}

.fa:hover {
    color: rgb(19, 124, 156);
}

.nav-text {
    color: #000000;

}

.nav-text:hover {
    color: rgb(19, 124, 156);
}
